body,html {
    margin:auto;
    border:solid 3px rgb(80, 232, 252);
    

.img{
    background-image: url(reciclagem.jpg);
    text-align: center;
    height: 100px;
    
}

.titulo-centralizado{
    text-align:center;
}


